@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* Base styles for the atlas layout */
body {
  background-color: #faf9f6;
  color: #2d2d2d;
}

/* Leaflet Overrides */
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.leaflet-popup-content {
  margin: 0 !important;
  width: auto !important;
}
.leaflet-popup-tip {
  background: #faf9f6 !important; 
  border: 1px solid #d6d3d1 !important;
  border-top: none !important;
  border-left: none !important;
}
.custom-leaflet-icon {
  background: transparent;
  border: none;
}
.leaflet-container {
  background: #faf9f6 !important;
  font-family: inherit !important;
  z-index: 10;
}
.custom-popup .leaflet-popup-close-button {
  color: #57534e !important;
  top: 16px !important;
  right: 16px !important;
  z-index: 20 !important;
}
